.chat-main
  .chat-main__group-info
    .group-rebigname
      .group-name1
        #{@group.name}
        .group-name2
          .group-member-current
            member :
            -# %li.group-member-name1
            - @group.users.each do |group|
              %li.member"
              = group.name
      = link_to edit_group_path(@group) do
        %i.edit Edit
  .messages
    = render @messages
  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .message-box
        .item-text
          = f.text_field :content, placeholder:"type a message", class:"amessage"
          = f.label :image, class: 'item-icon' do
            = icon('fas', 'image fa-lg', class: 'icon')
            = f.file_field :image, class: "aaa"
          = f.submit 'Send', class: 'message-send'